@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600);

body {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
  font-size: 16px;

	background-color: #eee;
}

h1 {
	box-sizing: border-box;
}


h1 {
	margin: 0.32em 0 .5em;
	line-height: 1;

	font-size: 2.56em;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-weight: 600;

	a {
		color: black;

		&:visited {
			color: black;
		}
	}
}


h2 {
	margin: 0 .5em;
	display: inline-block;
}

a {
	text-decoration: none;
	color: #006cc4;

	&:hover {
		text-decoration: underline;
		color: #004780;
	}

	&:visited {
		color: #7C7C7C;
	}
}

.no-article {
	margin-top: 1em;
	text-align: center;
}

table#articles {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-top: 1em;
	width: 100%;
	table-layout: fixed;

	thead {
		font-size: 1.25em;

		th {
			padding: 0 .5em .32em;

			&.theme {
				width: 224px;
			}

			&.date {
				width: 64px;
			}

			&.title {
				max-width: 1024px;
			}

			&.writer {
				width: 160px;
			}
		}
	}

	tbody td {
		border-top: 1px solid #ccc;
		padding: .25em .1em;

		&.title {
			a {
				// font-size: 1.1em;
				display: inline-block;
				// max-width: 90%;
				overflow: hidden;
				text-overflow: ellipsis;
				word-break: break-all;
			}
		}

		&.writer {
			font-size: .95em;
		}
	}

}

footer {
	text-align: center;
}

header, main, footer {
	margin: 0 1em .5em;
}

@media screen and (max-width: 1023px) {
	body {
		width: 100%;
	}

	table#articles td.theme {
		width: auto;
	}
}

@media screen and (max-width: 639px) {
	header, main, footer {
		margin: 0 .5em;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		display: block;
		margin: .25em 0;
	}

	a[id*=link] {
		margin-left: 0;
	}

	table#articles {
		thead {
			display: none;
		}


		tr, td {
			display: block;
		}

		tr {
			border-bottom: 1px solid #ccc;
			margin: .4em 0;
		}

		tbody td {
			border-top: none;
		}

		td {
			padding: .25em;

			&.title, &.writer {
				padding-left: 1.25em;
			}

			&.writer {
				&::before {
					content: "\00a0(";
				}

				&::after {
					content: ")";
				}
			}
		}
	}
}
